<%= simple_form_for(@action_frame) do |f| %>
  <% if @action_frame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_frame.errors.count, "error") %> prohibited this action_frame from being saved:</h2>

      <ul>
      <% @action_frame.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions"><%= f.submit %></div>

<% end %>
